{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Chiras tweet
        {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body  class="text-center" >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tweetbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <div class="gap" ><form class="d-flex" method="get" action="{% url 'search' %}">
<input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search"/></form></div>
     <div  class="gap" ><a href="{% url 'tweet_list' %}"  class="btn btn-primary mx-2">TWEET HOME</a>
      {% if user.is_authenticated %}
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button class="btn-btn-danger"type="submit">Logout</button>
</form>
      {% else %}
      <a href="{% url 'register' %}"  class="btn btn-success mx-2">register</a>
      <a href="{% url 'login' %}"  class="btn btn-success mx-2">login</a>
      {% endif %}
    </div>
  </div>
</nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div></div> 
</body>
</html>
