{% extends "layout.html" %}
{% block title %}
Tweet
{% endblock %}
{% block content %}
<h1 class="text-center text-white mt-4">Welcome to my app</h1>
<h2> 
    {%if form.instance.pk  %}
     Edit Tweet 
     {% else %} 
     Create Tweet 
     {% endif %}
     <form  method="post" enctype="multipart/form-data" class='form' >
        {% csrf_token %}
        {{form}}
        <button class='btn btn-warning' type="submit">Submit</button>
     </form>
     <a href ="{% url 'tweet_list' %}" style="text-decoration: none;"> Back to Tweet list </a>
     </h2>

{% endblock %}
